{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/output.css' %}"/>
{% endblock %}
{% block body_content %}
<h3 class="heading">Your Output:</h3>
<div class="output_area">
     {% if error  %}
        <label class="error">{{ error|linebreaks }}</label>
     {% endif %}
    {% if output  %}
        <label class="output">{{ output|linebreaks }}</label>
    {% endif %}
</div>
{% if time %}
<h4 class="heading">Runtime: {{ time }}</h4>
{% endif %}
{% endblock %}