{% extends 'base.html' %}
{% block body_content %}
<div class="body">
<div class="banner">
<div class="third_heading">
<h3> OnPiler: Your Online Compiler</h3>
</div>
</div>
<div class="fourth_heading">
    <h4>SOURCE CODE</h4>
</div>
<form action="evaluate" method="POST">
    {% csrf_token %}
    <div class="selection">
        <select name="language">
            <option value="C++">C++</option>
            <option value="C">C</option>
        </select>
    </div>
    <div class="code_area">
    <textarea class="code_text_area" name="code_area"> </textarea>
    </div>
    <div class="fourth_heading">
        <h4>STANDARD INPUT</h4>
    </div>
    <div class="Input">
        <textarea class="input_area" name="input"></textarea>
    </div>
    <div class="submit">
        <input type="submit" value="submit">
    </div>
</form>
</div>
{% endblock %}