.heading {
    color: #F97200;

}

.output_area {
    border-style: solid;
    background-color: #FDD6B6;
    padding-left: 20px;
}

.error {
    color: red;
    white-space: pre-wrap;
}

.output {
    padding-left: 10px;
    white-space: wrap;
}