.heading {
    padding-top: 15px;


}

.output_area {
    border-style: solid;
    background-color: #EFEFEF;
    padding-left: 20px;
}

.error {
    color: red;
    white-space: pre-wrap;
}

.output {
    padding-left: 10px;
    white-space: wrap;
}